.aside {
  height: 400px;
}

.main {
  height: 400px;
}

.d-flex {
  display: flex;
}

.task-title {
  min-width: 65%;
  font-weight: 400;
  padding-top: 5px;
  &-priority {
    width: 100px;
    font-weight: 400;
    padding-top: 5px;
  }
  &-list {
    width: 100px;
    font-weight: 400;
    padding-top: 5px;
  }
}

.task-title--done {
  text-decoration: line-through;
  color: #cdcdcd;
}

.task-title--star {
  color: #ffd700;
}

.task-item__buttons {
  display: flex;
  column-gap: 5px;
  margin-left: 25px;
}

.more-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gray {
  color: #bdbdbd;
}
